.red { background-color: #990000; }
span#banniereCommande {
	display: block;
	width: 101px;
	padding: 5px;
	border: solid 1px gray;
	font-size: 2px 10px;
	color: #fff;
	text-align: center;
}

/* ###### Formulaire global ###### */
form#formulaire {
	display: block;
	margin: 20px 0;
	background-color: #DDD;
	width: 100%;
}

form#formulaire legend {
	font-weight: bold;
	margin-bottom: 30px;
}

form#formulaire .button {
	margin: 10px;
}

/* ###### Section Commande ###### */
/* infos commande */
form#formulaire fieldset#commande table {
	display: inline-block;
	vertical-align: top;
}

/* Box history */
form#formulaire div#boxHistory {
	display: inline-block;
	float: right;
	color: blue;
	font-size: 12px;
	height: 50px;
	padding: 10px;
	width: 370px;
	background-color: #AAA;
}

form#formulaire div#boxHistory {
	
}

form#formulaire div#boxHistory {
	
}
/* ###### Section Pièces ###### */

/* Tableau de pièces */
form#formulaire div#piecesAjoutee table {
	display: block;
	width: 650px;
	margin: 10px;
	border-collapse: collapse;
}

form#formulaire div#piecesAjoutee table thead tr th {
	background-color: #888;
}

form#formulaire div#piecesAjoutee table tbody tr:nth-child(2n + 1) {
	background-color: #FFF;
}

form#formulaire div#piecesAjoutee table th {
	font-weight: bold;
}

form#formulaire div#piecesAjoutee table td,form#formulaire div#piecesAjoutee table th
	{
	border: solid 1px black;
	width: 160px;
	padding: 4px;
	background-color: white;
}

form#formulaire div#piecesAjoutee table caption {
	font-size: 16px;
	font-weight: bold;
	padding: 4px;
}

/* Widget Piece */
form#formulaire div#listePieces {
	display: block;
	background-color: #AAA;
	float: right;
	border: solid 2px #888;
}

form#formulaire div#listePieces h3 {
	padding: 7px 14px;
}

form#formulaire div#listePieces h3 span {
	float: right;
}

form#formulaire div#listePieces h3 span a {
	font-size: 25px;
}

form#formulaire div#listePieces table {
	display: block;
	background-color: #CCC;
	width: 230px;
	height: 400px;
	overflow: scroll;
	font-size: 13px;
	border-collapse: collapse;
}

form#formulaire div#listePieces table tr th {
	color: #333;
	padding: 9px 10px;
	vertical-align: middle;
	border: none;
	font-size: 12px;
	line-height: 18px;
	text-align: left;
	background-color: #AAA;
	width: 100px;
}

form#formulaire div#listePieces table tr td {
	color: #333;
	padding: 9px 10px;
	vertical-align: middle;
	border: none;
	width: 100px;
	font-size: 12px;
	line-height: 18px;
	text-align: left;
}

form#formulaire div#listePieces table tr:hover {
	background-color: #BBB !important;
	cursor: pointer;
}

form#formulaire div#listePieces table tr:nth-child(2n + 1) {
	background-color: white;
}

form#formulaire div#listePieces tbody {
	
}

form#formulaire div#listePieces input#recherchePiece {
	width: 210px;
	margin: 3px;
	height: 24px;
	padding: 3px 5px;
	font-size: 15px;
}

/* formulaire ajout piece --> commande */
div#confirmOverlay {
	display: block;
	position: absolute;
	padding: 20px;
	background-color: white;
	width: 500px;
	height: 230px;
	left: 50%;
	margin-left: -200px;
	top: 50%;
	margin-top: -150px;
	z-index: 1;
	box-shadow: 1px 1px 12px #555;
}

div#confirmOverlay h2 {
	margin: 15px 0 30px 0;
	text-align: center;
}

div#confirmButtons {
	margin-top: 40px;
}

div#confirmOverlay table td, div#confirmOverlay table th {
	text-align: left;
}

/* ###### Section Responsable ###### */

