/**
* # Init de la feuille de style
*/
body, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.loader {
	background: url('/include/css/img/ajax-loader.gif') no-repeat center right;
	z-index: 1;
}

.clickable {
	cursor: pointer;
}

.removable {
	background: url('/include/css/img/remove.png') no-repeat center;
}

.selected{
	background: url('/include/css/img/check-icon.png') no-repeat center right;
}

.error-form {
	color: red;
}

/* GENERAL ----------------------------------------------------- */

body,td,th {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #747476;
}


body {
    background-repeat:no-repeat;
    background-position: 50% 0px;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #0d5686;
}

/* HEADER------------------------------------------------------- */

#header
{
    font-size:19px;
    color:HoneyDew;
    font-weight:bold;
}

/* CONTENU ----------------------------------------------------- */

#wrap
{
    display: block;
    width: 960px;
    margin:0 auto;
    text-align: center;
}


.onebutton{
	opacity:0.6;
}


.onebutton:hover{
	opacity:1;
}


#divtxt
{
    height:50px;
}


#txt
{
    display:none;
    margin: 0 auto;
    color:white;
    font-size:20px;
}



/* FOOTER ------------------------------------------------------ */

#footer {
    display:block;
    margin:0 auto;
    width:960px;
    height:150px;
    color: White;
}



/* LINKS ------------------------------------------------------- */

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
/*
 * @style standard page
 */
div#wrap {
	display: block;
	width: 960px;
	padding: 20px;
	min-height: 400px;
	margin: 20px auto;
	background-color: gray;
	color: #333;
	vertical-align: middle;
	border: none;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
}

div#wrap > h1 {
	margin: 20px 0;
}

/*
 * @style bandeau de connexion
 */
div#bandeau_connexion {
	width: 100%;
	background-color: #2D2D2D;
	margin: 0;
	height: 22px;
	padding: 8px;
}

div#info_content {
	margin: 0 auto;
	width: 960px;
	height: 100%;
	color: white;
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 18px;
}


div#info_content > ul#menu {
	float: left;
}

div#info_content > ul#infos {
	float: right;
}

div#info_content > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#info_content > ul >li {
	display: inline-block;
	margin : 0 20px;
    transition: color; /*for the future*/
    transition-duration: 4000ms;
    -webkit-transition: color; /*http://www.w3.org/TR/css3-transitions/*/
    -webkit-transition-duration: 4000ms;
    -moz-transition: color; /*https://developer.mozilla.org/en/CSS/-moz-transition*/
    -moz-transition-duration: 4000ms;
    -o-transition: color; /*http://dev.opera.com/articles/view/css3-transitions-and-2d-transforms/*/
    -o-transition-duration: 4000ms;
}
	
div#info_content > ul > li:hover {
	cursor:pointer;
	color: #D45232;
	transition: color;
	transition-duration: 400ms;
	-webkit-transition: color;
	-webkit-transition-duration: 400ms;
	-moz-transition: color;
	-moz-transition-duration: 400ms;
	-o-transition: color;
	-o-transition-duration: 400ms;
}

div#info_content > ul > li:active {
	color: #E80C7A;
}



/* PROVISOIRE */
form#accueil > fieldset {
	background-color: #CCC;
	width: 96%;
}